.container{
    max-width:400px
    width=30%
    padding 20px;
    box-shadow:0px 20px #00000020;
    border-radius:2px
    background-color=grey


}
.buttons{

    color:green;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    border-style:inset;
    border-width: 0cm;
    border-radius: 30px;
    background-color: aqua;
}

P{
    color:red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    border-style:inset;
    border-width: 1cm;
    border-radius: 5%;
    margin-top: auto;
}
table,th,td{
   border: 1px solid black; 
}
